

  <div class="site-body column spans-eight clearfix">
<h2 class="site-body-title">Statuten</h2>

<img src="./Studentenclub Laetitia Statuten_files/schild.gif" class="float-right">
<p><small><em>Laatst aangepast te GENT op 27 oktober 2004</em></small></p>
<p>Stichters academiejaar 1929-1930:</p>
<ul>
<li>Regule Depraetere</li>
<li>Jozef Van den Broeck</li>
<li>Hendrik Cornelis</li>
<li>Honoré Claus</li>
<li>Leopold-Jozef Van Bellinghen</li>
<li>Joseph Walters</li>
</ul>
<h3>STATUTEN S.K. STUDENTENCLUB “LAETITIA”</h3>
<p><em>Art. 1.</em> De Gentse S.K. studentenclub “LAETITIA” werd formeel opgericht op zondag 16 november 1930, datum van het opstellen van de statuten en de eerste formele verkiezing van een praesidium. Het jaar ervoor was er reeds werking, doch niet formeel. Deze statuten zijn een leidraad voor praesidia, commilitones en schachten en dienen aldus door elk lid van de club gerespecteerd te worden.</p>
<p><em>Art. 2.</em> Deze statuten kunnen niet door één praesidium gewijzigd worden. Wijzigingen in de statuten worden gestemd met een twee-derde meerderheid der stemmen op een statutaire vergadering waarop zowel het huidig als het nieuwe praesidium alsook de pro-seniores uitgenodigd worden. De statutaire vergadering is uniek en verplicht. Zij moet gehouden worden in het begin van het academiejaar, voor de verkoop van de lidkaarten. Indien er een wijziging is van een der artikels van de statuten dient deze achteraan de statuten bijgevoegd te worden, en getekend te worden door de praesidiumleden welke aan de statutaire vergadering hebben deelgenomen. Bij het eventueel wijzigen der statuten dient men er wel op toe te zien dat men geen wijzigingen aanbrengt aan de basisgedachte van een studentenclub.</p>
<h4>1. TOELATINGSVOORWAARDEN</h4>
<p><em>Art. 3.</em> De studenten en de studentinnen wonende in en/of afkomstig uit het arrondissement Oudenaarde zijn gegroepeerd in deze club, met het doel hen, buiten hun educatieve bedrijvigheid om, in een broederband te verenigen, en dit in een geest van studentikositeit. De club staat buiten alle politieke, godsdienstige en wijsgerige opvattingen. De voertaal is Nederlands.</p>
<p><em>Art. 4.</em> De club bestaat uit&nbsp;het praesidium, commilitones, schachten, commilitones extra-muros en ereleden. De club wordt geleid door het praesidium, minstens bestaande uit een praeses of senior, een vice-praeses, een penningmeester en een secretaris.</p>
<p><em>Art. 5. </em>De club laat zowel mannelijke als vrouwelijke studenten toe lid te worden.</p>
<p><em>Art. 6</em>. De club laat ook studenten toe die niet in&nbsp;het arrondissement Oudenaarde wonen of eruit afkomstig zijn (commilitones extra-muros), doch in beperkte mate.</p>
<h4>2. OVER HET PRAESIDIUM</h4>
<p><em>Art. 7.</em> De praeses zit de clubvergaderingen en alle andere samenkomsten van de club voor. Hij regelt het verloop van de cantus. Ieder coronalid dient de richtlijnen van de praeses te volgen</p>
<p><em>Art. 8</em>. De vice-praeses is belast met de praktische inrichting van de vergaderingen, uitstappen, enz. Hij is verantwoordelijk voor het lokaal, de propaganda, enz. Hij vervangt de praeses bij diens afwezigheid.</p>
<p><em>Art. 9.</em> De penningmeester int de lidgelden en berekent de uitgaven. Hij houdt het kasboek bij.</p>
<p><em>Art. 10.</em> De secretaris zorgt voor de briefwisseling, de verslagen, de pers. Hij is verantwoordelijk voor het archief, het schild, de clubvlag, enz… Hij dient tevens alle beslissingen die op een vergadering genomen worden te noteren.</p>
<p><em>Art. 11.</em> De schachtentemmer is belast met en is verantwoordelijk voor de opleiding der schachten tot commilitones. Hij heeft toezicht over hen tijdens de clubvergaderingen.</p>
<p><em>Art. 12. </em>De zedenmeester helpt door zijn controle op de leden de praeses bij het handhaven van de tucht. De praeses kan een zedenmeester aanstellen voor de duur van de clubavond.</p>
<p><em>Art. 13.</em> De cantor is belast met het aanleren van nieuwe liederen. Hij is de voorzanger bij het aanheffen van een lied. Hij moet ervoor zorgen dat hij de muziek van alle liederen uit het liederboek verzamelt.</p>
<p><em>Art. 14.</em> De lustrumleider is belast met het inrichten van alle feestelijkheden (enkel in lustrumjaren).</p>
<p><em>Art. 15</em>. De praeses kan in overleg met het praesidium voor de duur van de avond andere functies ad interim aanstellen, zoals daar zijn: doopmeester (doorgaans de jongste prosenior), extra zedenmeester, fotograaf…</p>
<p><em>Art. 16.</em> Vlag, schild, archief en kasboek zijn eigendom van de club.</p>
<p><em>Art. 17.</em> De penningmeester beheert samen met de senior de kas.</p>
<p><em>Art. 18. </em>De praesidiumleden zijn niet aansprakelijk voor eventuele ongevallen welke gebeuren tijdens de activiteiten van de club. De aanwezigen dragen zelf alle verantwoordelijkheid.</p>
<h4>3. VASTE BIJEENKOMSTEN</h4>
<p><em>Art. 19.</em> De club vergadert minstens eenmaal per maand.</p>
<p><em>Art. 20.</em> Het praesidium vergadert om de twee weken.</p>
<p><em>Art. 21.</em> Beslissingen van het praesidium op vergaderingen gebeuren met twee-derde meerderheid der stemmen van het voltallig praesidium, de praeses kan zijn veto stellen. Indien deze meerderheid niet bereikt wordt, wordt op de eerstvolgende vergadering beslist op twee-derde meerderheid der stemmen van de aanwezige praesidiumleden. Ieder praesidiumlid dient verwittigd te worden van deze eerstvolgende vergadering. Een stem van een praesidiumlid kan tevens schriftelijk worden uitgebracht indien hij niet aanwezig kan zijn.</p>
<p><em>Art. 22.</em> De club houdt als tweede cantus een schachtendoop. De eerste cantus is de openingscantus. Tijdens voorgaande plechtigheid worden de schachten als kandidaat-commilitones aanvaard. Bij het einde van de doop wordt aan de schacht een lint gegeven en wordt hem een peter of meter aangewezen.</p>
<p><em>Art. 23.</em> De club houdt als voorlaatste cantus een ontgroening, de schachten die aan hun plicht als kandidaat-lid hebben voldaan, worden als commilito aanvaard. Op de laatste cantus (verkiezingscantus) houden de laatstejaars hun zwanenzang en wordt een nieuw praesidium verkozen. Schachten die niet voldaan hebben blijven nog een jaar schacht.</p>
<p><em>Art. 24</em>. Individuele uitspraken van praesidiumleden op vergaderingen zijn geheim, algemene beslissingen welke genomen werden op vergaderingen zijn niet geheim. Bij inbreuk van dit artikel is dit een ernstig vergrijp.</p>
<h4>4. CLUBTEKENS</h4>
<p><em>Art. 25.</em> De commilitones dragen op de clubvergaderingen en andere activiteiten een clublint met de kleuren van de club. De praeses draagt een praeseslint met het wapen van de club. De schachten dragen hun clublint over de linkerschouder. De schachtentemmer draagt twee clublinten, nl. één over elke schouder. Het clublint is 1,30 meter lang en 2,7 cm breed, met de kleuren rood-geel-rood.</p>
<p><em>Art. 26.</em> Het wapenschild van de club is als volgt ingedeeld;</p>
<ul>
<li>Linkerhelft: Vlaamse leeuw</li>
<li>Rechterhelft: monogram van de club</li>
<li>Bovenaan bevindt zich de naam van de club en dit op een gele achtergrond.</li>
</ul>
<p><em>Art. 27.</em> Het monogram van de club bestaat uit de beginletter van de naam van de club en de letters V, C, F (ut vivat, crescat et floreat) en de beginletter L van de naam van de club in één pennentrek uitgevoerd, gevolgd door een uitroepteken.</p>
<p><em>Art. 28.</em> Het clubpetje is een klein petje, dat op de rand de kleuren en bovenop de kruin het monogram van de club draagt.</p>
<h4>5. VERKIEZINGEN</h4>
<p><em>Art. 29. </em>Het praesidium wordt jaarlijks op de laatste cantus gekozen. Het praesidium bestaat minstens uit:</p>
<ul>
<li>praeses</li>
<li>vice-praeses</li>
<li>penningmeester</li>
<li>secretaris</li>
</ul>
<p><em>Art. 30. </em>De kandidaturen worden ingediend tijdens de verkiezingsavond. De studenten welke zich kandidaat stellen voor een functie dienen zich recht te stellen voor de derde slag van de praeseshamer.</p>
<p><em>Art. 31.</em> De verkiezing van elke praesidiumfunctie is geheim.</p>
<p><em>Art. 32</em>. Elk lid van de club heeft het recht elke stemronde één stem uit te brengen, ereleden hebben geen stem. De praeses beschikt over twee stemmen, net als de peter en/of meter van de club en de pro-seniores.</p>
<p><em>Art. 33.</em> De praeses dient verkozen te worden met twee-derde meerderheid der geldige stemmen van een geldige vergadering. De praeses is afkomstig uit het arrondissement Oudenaarde of is er woonachtig. Bij de derde stemronde is gewone meerderheid der geldige stemmen voldoende. Is er bij die derde stemronde staking der stemmen, dan dient een nieuwe vergadering te worden uitgeschreven, waarop gekozen wordt volgens dezelfde regels. De praeses treedt officieel in functie als zijn voorganger het praeseslint overgedragen heeft, na het afleggen van de eed.</p>
<p><em>Art. 34.</em> Voor het hoog en laag praesidium geldt van eerst af aan de gewone meerderheid der geldige stemmen. Zijn er meer dan twee kandidaten en werd de gewone meerderheid der geldige stemmen bij de eerste stemronde niet behaald, dan dient er tot herstemming overgegaan te worden, waarbij de kandidaat die de minste stemmen behaalde, zich moet terugtrekken.</p>
<p><em>Art. 35. </em>Voor iedere bestuursfunctie kan slechts één kandidaat verkozen worden. Indien na verscheidene stemrondes de beide kandidaten steeds hetzelfde aantal stemmen behalen, kan het praesidium een staking der stemmen uitspreken voor deze bestuursfunctie en kan deze bij een volgende geldige vergadering verkozen worden.</p>
<p><em>Art. 36. </em>Een geldige stem is deze waarop de naam van één der kandidaten geschreven staat of een blanco stembrief. Indien iets anders dan de naam van één der kandidaten op de stembrief staat, dan is dit een ongeldige stem. Ongeldige stemmen worden niet bij het totaal gerekend en tellen niet mee om het quorum te halen. Een blanco stem wordt wel meegeteld.</p>
<p><em>Art. 37.</em> Om als praesidiumlid verkozen te worden dient men aan de volgende voorwaarden te voldoen: de persoon moet student zijn in Gent, de student dient gedoopt en ontgroend te zijn voor één juni van dit academiejaar.</p>
<p><em>Art. 38.</em> Om verkozen te worden als lid van het hoog praesidium, d.w.z. praeses, vice-praeses, penningmeester en secretaris, gelden volgende voorwaarden.</p>
<ul>
<li>de voorwaarden uit artikel 34, 35 en 37 blijven gelden</li>
<li>de student, welke zich kandidaat stelt voor de functie van praeses, moet bij voorkeur minstens één jaar lid geweest zijn en bij voorkeur reeds een andere praesidiumfunctie vervuld hebben.</li>
</ul>
<p><em>Art. 39.</em> Een praesidiumlid kan om ernstige reden, bv. omdat hij zijn functie als praesidiumlid niet naar behoren uitvoert, ontslaan worden uit zijn functie. Voor elke functie dient men hierover te stemmen bij aanwezigheid van het praesidium. Deze maatregel kan getroffen worden indien er een twee-derde meerderheid der stemmen is.</p>
<h4>6. DE LEDEN</h4>
<p><em>Art. 40</em>. Alle commilitones en schachten zijn gelijke gehoorzaamheid aan de praeses verschuldigd.</p>
<p><em>Art. 41.</em> De jongere commilitones zijn eerbied verschuldigd aan de oudere en laten aan hen de voorrang.</p>
<p><em>Art. 42. </em>De schachten zijn daarenboven absolute gehoorzaamheid aan de schachtentemmer verschuldigd.</p>
<p><em>Art. 43. </em>Elke schacht ontvangt bij zijn opname een praesidiumlid of een commilito als peter of meter die over hem waakt en hem helpt bij zijn studies. De schacht is hem verantwoording en speciale dienstbaarheid verschuldigd.</p>
<p><em>Art. 44.</em> In de loop van het jaar wordt de beste schacht(in) als schachtenkoning(in) aangesteld.</p>
<p><em>Art. 45.</em> Ereleden zijn personen die door geldelijke bijdragen of andere door het praesidium aanvaardbare redenen, de club steunen en als dusdanig door het praesidium worden aanvaard.</p>
<p><em>Art. 46. </em>Gasten zijn personen die door de praeses op de clubvergadering worden toegelaten en tevens op de hoogte gebracht worden van de statuten.</p>
<p><em>Art. 47.</em> Bij het toebrengen van materiële schade door een lid van de club tijdens een activiteit dient deze persoon de schade zelf te betalen.</p>
<p><em>Art. 48. </em>Het uitsluiten van een lid uit de club gebeurt voor ernstige vergrijpen. Deze uitsluiting wordt uitgesproken door een algemene stemming der leden, na voorafgaande aanklacht en verdediging. De persoon moet vooraf op de hoogte gebracht worden van zijn eventuele uitsluiting door de praeses of een ander praesidiumlid. Indien de persoon niet aanwezig is op de avond waarop de algemene stemming der leden zal gebeuren, en de persoon is vooraf op de hoogte gesteld, zal er toch gestemd worden.</p>
<p><em>Art. 49. </em>Bij het aannemen van leden moeten deze op de hoogte gebracht worden over het bestaan van deze statuten, en mogen zij indien ze dit willen deze statuten lezen. Deze statuten moeten altijd ter beschikking staan van de leden( bvb. webpagina van de club).</p>
<p><em>Art. 50.</em> Elk lid van de club dient in bezit te zijn van een lidkaart, en dient deze tevens bij zich te hebben tijdens activiteiten dewelke door de club georganiseerd worden. Indien een lid van de club zijn lidkaart verliest moet deze zich een nieuwe lidkaart aanschaffen.</p>
<p><em>Art. 51. </em>Elk nieuw lid van de club dient tijdens het begin van elk academiejaar een zekere som, dit is het lidgeld, aan de club te betalen. De club kan in de loop van het jaar voor bepaalde activiteiten steeds een geldelijke bijdrage vragen. Het lidgeld wordt bepaald door het regerende praesidium. Ereleden moeten minimum de prijs ter waarde van één vat pils betalen.</p>
<p><em>Art. 52.</em> Indien een persoon zich lid maakt van “LAETITIA” dient deze zich akkoord te verklaren met deze statuten.</p>
<p><em>Art. 53.</em> De leden en hun rechtsopvolgers hebben geen deel in het vermogen van de vereniging, hebben geen recht op een aandeel in de behaalde winsten en kunnen geen opbrengsten halen uit de vereniging waardoor zij zich individueel verrijken. Bij uittreding, uitsluiting of overlijden kunnen zij nooit teruggave of vergoeding vorderen voor gestorte bijdragen of gedane inbrengen.</p>
<p>Bij ontbinding van de vereniging, om welke reden dan ook, moet het vermogen van de vereniging worden bestemd tot een doel dat aansluit bij het doel van de vereniging en mag het niet worden uitgekeerd aan de leden.</p>

    </div>