/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    background: url("/assets/images/achtergrond.jpg") no-repeat center #000 fixed;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 90%;
    line-height: 1.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    border-left: 2px solid #EEE;
    color: #666;
    padding-left: 10px;
    margin: 1em;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: #d00000;
    text-decoration: underline;
}
a:hover {
    color: #900000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", Georgia, serif;
}

table {
    width: 100%;
}
table td,
table th {
    padding: 5px;
    text-align: left;
}
table thead {
    border-bottom: 2px solid #EEE;
}
table tbody th,
table tbody td {
    border-top: 1px solid #EEE;
}
table tbody tr:first-child th,
table tbody tr:first-child  td {
    border-top: none;
}


label {
    display: block;
}
label .required {
    color: #CC0000;
    font-weight: bold;
    padding-left: 5px;
}
input,
textarea {
    border: 1px solid #EEE;
    border-radius: 2px;
    color: #999;
    font: 16px/20px "Source Sans Pro", Helvetica, Arial, sans-serif;
    padding: 5px 8px;
    vertical-align: middle;
    width: 100%;

    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

input:hover,
textarea:hover {
    border-color: #DDD;
}

input:focus,
textarea:focus {
    border-color: #CCC;
    color: #666;
    outline: none;
}

button {
    background: #EEE;
    border: 1px solid #DDD;
    border-radius: 2px;
    color: #333;
    font: bold 12px/20px "Source Sans Pro", Helvetica, Arial, sans-serif;
    padding: 5px 8px;
    text-transform: uppercase;
    vertical-align: middle;
}
button:hover {
    background: #d00000;
    border-color: #d00000;
    color: #FFF;
}

form span.error {
    color: #FF0000;
    display: block;
    font-size: 0.9em;
    margin-top: 0.5em;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/*
     FILE ARCHIVED ON 21:01:58 Mar 30, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:13:23 Apr 17, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 115.691 (3)
  esindex: 0.014
  captures_list: 152.887
  CDXLines.iter: 30.112 (3)
  PetaboxLoader3.datanode: 160.045 (5)
  exclusion.robots: 0.267
  exclusion.robots.policy: 0.25
  RedisCDXSource: 2.223
  PetaboxLoader3.resolve: 69.458 (4)
  load_resource: 159.399
*/