/*********************************************************************
 *
 * Custom CSS styles
 *
 ********************************************************************/

.site-container {
	border-radius: 3px;
	background: #FFF;
	box-shadow: 0 0 50px #000;
	margin: 50px auto;
}



.site-header {
	background: #d00000;
	border-radius: 3px 3px 0 0;
	padding: 20px;
}
.site-header-title {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-weight: 300;
	line-height: 80px;
	margin: 0;
}
.site-header-logo {
	float: left;
	padding-right: 20px;
}
.site-header-title a {
	color: #FFF;
	text-decoration: none;
}



.site-navigation {
	background: #FFF;
	font-weight: bold;
	font-size: 0.8em;
	margin: 0 0 20px;
	padding: 0;
	text-transform: uppercase;
}
.site-navigation li {
	list-style: none;
	margin: 0 0 2px;
	padding: 0;
}
.site-navigation a {
	border-radius: 3px;
	color: #999;
	display: block;
	padding: 10px;
	text-decoration: none;
}
.site-navigation a:hover,
.site-navigation .active a {
	background: #F6F6F6;
	color: #333;
}
.site-navigation a:active {
	color: #d00000;
}



.site-body {
	padding-bottom: 20px;
	padding-top: 20px;
}
.site-body-title {
	border-bottom: 1px solid #EEE;
	font-size: 2.5em;
	margin-top: 0;
}



.site-sidebar {
	padding-bottom: 20px;
	padding-top: 20px;
}


.activities {
	background: #FFF;
	border-radius: 3px;
	border: 1px solid #EEE;
	list-style: none;
	margin: 0;
	padding: 0;
}
.activity {
	border-top: 1px solid #EEE;
	color: #999;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}
.activity:first-child {
	border-top: none;
}
.activity a {
	color: #999;
	display: block;
	padding: 20px;
	text-decoration: none;
}
.activity a[href]:hover {
	background: #FAFAFA;
	color: #333;
}
.activity .activity-title {
	color: #333;
	display: block;
    font-family: "Roboto Slab", Georgia, serif;
	font-size: 1.4em;
}
.activity a[href]:hover .activity-title {
	color: #d00000;
}
.activity-location {
	float: left;
}
.activity-time {
	float: right;
}
.activity-more {
	font-weight: bold;
	text-transform: uppercase;
}


.facebook-button {
	background: #3b5998;
	border-radius: 3px;
	color: #FFF;
	display: block;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 1;
	margin-bottom: 20px;
	padding: 12px 10px 8px;
	text-decoration: none;
}
.facebook-button:hover {
	background: #2b467e;
	color: #FFF;
}
.facebook-button img {
	padding-right: 10px;
	position: relative;
	top: -2px;
}


.caption {
	background: #FFF;
	border: 2px solid #EEE;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
}
.caption img {
	display: block;
	margin: 0 auto;
}
.caption-text {
	color: #999;
	font-size: 0.9em;
	margin: 10px 0 0;
}
/*
     FILE ARCHIVED ON 21:15:27 Mar 30, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:13:23 Apr 17, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 64.438 (3)
  esindex: 0.012
  captures_list: 91.531
  CDXLines.iter: 14.388 (3)
  PetaboxLoader3.datanode: 123.837 (5)
  exclusion.robots: 0.211
  exclusion.robots.policy: 0.2
  RedisCDXSource: 8.927
  PetaboxLoader3.resolve: 160.12 (2)
  load_resource: 266.787
*/